.rating
{
    display: flex;
    width: fit-content;
    .rating-star
    {
        font-size: ($font-size-base * 1.5);
        color: #cfd8dc;
        cursor: pointer;
        transition: all 0.2s;
    }
}